<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./main.css">
</head>


<body class="p-3 mb-2 bg-dark text-white" data-gr-c-s-loaded="true">



  <div class="form-signin">

    <div class="mb-3 align-self-center">
      <h1 class="display-3" style="text-align:center;overflow=">Call Center</h1>
    </div>
    <a href="/send" class="btn btn-lg btn-primary btn-block">Send</a>
    <a href="/view" class="btn btn-lg btn-secondary btn-block">View</a>
  </div>

</body>
</html>