<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>		
        <title style="color: red;">
            Dashboard
        </title>
    </head>
    <body onload="initSocket()" class="p-3 mb-2 bg-dark text-white">
        
        <h1 style="text-align:center; padding-bottom: 50px; padding-top: 50px;">Dashboard</h1>
        <div class="container">
            <div class="row">
                <div class="col-6 chart">
                    <canvas id="SnapShotChartTotals" width= "500px" height="400"></canvas>
                </div>
                <div class="col-6 chart">
                    <canvas id="SnapShotChartAvg" width= "500px" height="400"></canvas>
                  </div>
            </div>
            <div class="row" style="padding-top: 50px; padding-bottom: 20px;">
                <link rel="stylesheet" href="./viewer.css">
                <table class="table table-bordered table-dark border" id="SnapShotTable">
                    <thead class="AggregetionTableHead">
                      <tr>
                        <th scope="col" style="width: 475px;">Number of waiting calls</th>
                        <th scope="col" style="width: 500px;">Waiting times</th>
                      </tr>
                    </thead>
                    <tbody class="AggregetionTableBody">

                    </tbody>
                  </table>
            </div>
            <div>
                <table id="cityTopicsTable" class="table table-bordered table-dark border">
                    <tr>
                        <th>City</th>
                        <th>Number of calls at each city</th>
                        <th>Topic</th>
                        <th>Number of calls at each topic</th>
                    </tr>
                </table>
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-6 chart">
                  <p style="text-align: center; font: bold;">Number of calls at each topic.</p>
                    <canvas id="CallsPerTopicChartCanvas" width= "500px" height="220"></canvas>
                </div>
                <div class="col-6 chart">
                  <p style="text-align: center; font: bold;">Number of calls at each language.</p>
                  <canvas id="CallsPerLanguageChartCanvas" width= "500px" height="220"></canvas>
              </div>
            </div>
        </div>
        <script src="./viewer.js"></script>
    </body>
</html>